@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

a.active {
  color: white !important;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.parallax {
  width: 100%;
  height: 600px !important;
}

img {
  object-fit: contain !important;
}

.user_modal {
  border-radius: 10px;
  background: rgba(16, 16, 16, 0.04);
  backdrop-filter: blur(100px);
}
.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

body {
	overflow-x: hidden;
}

/* .slick-prev, .slick-next {
	background: #000 !important;
	right: 0 !important;
	left: 0 !important;
} */